@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;;
}

:root{
    --primary-color: #261a3c;
    --primary-color-gradient: radial-gradient(circle, rgba(38,26,60,1) 0%, rgba(50,38,70,1) 0%);
    --secondary-color: rgb(125, 85, 199);
    --light-color: rgb(215, 205, 233);
}

.bg-primary{
    background-color: var(--primary-color) !important;
}

.bg-secondary{
    background-color: var(--secondary-color) !important;
}

.btn-menu{
    background-color: var(--secondary-color);
    padding: 20px;
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    border: 1px solid var(--secondary-color);
}

.btn-menu span{
    font-size: 12px;
}

.btn-menu:hover{
    border: 2px solid rgb(159, 124, 223);
    -webkit-box-shadow: 10px 10px 8px -8px rgba(10,5,20,1);
    -moz-box-shadow: 10px 10px 8px -8px rgba(10,5,20,1);
    box-shadow: 10px 10px 8px -8px rgba(10,5,20,1);
}

.btn-menu i{
    font-size: 50px;
}

.full-height{
    height: 100vh;
}

.logo img{
    width: 200px;
}

.page{
    background-color: var(--light-color);
    height: 100vh;
}

.page .header{
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.page .header button{
    color: #fff !important;
    font-size: 25px;
}

.btn-sair{
    border: none;
}

.modal .conteudo{
    height: 100%;
}

.modal .menu{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    color: var(--light-color);
}

.modal .saldo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.modal .saldo span{
    font-size: 15px;
    font-weight: bold;
}

.modal .saldo div{
    font-size: 25px;
    font-weight: bolder;
}

.modal .saldo i{
    font-size: 12px;
    font-weight: 100;
}

.modal .main{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.links-menu{
    margin-top: 102px;
    position: absolute;
    left: 0;
    width: 100%;
}

.links-menu a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 300;
    letter-spacing: .05em;
    transition: all .3s;
}

.links-menu a:hover{
    background-color: var(--primary-color);
}

.modal-personalizada{
    background-color: var(--light-color);
    box-shadow: 2px 2px 10px rgba(0,0,0,.7);
}